<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-5 pt-3">
          <span class="text-primary"><i class="fa fa-lock"></i> Client Panel</span> Register
        </h1>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group mb-4">
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control" required />
          </div>
          <div class="form-group mb-4">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            {{ loading ? 'Registering...' : 'Register' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
